<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Dominique SAUVIGNON - Dépannage informatique</title>
    </head>
<body>
    <header>
        Dominique SAUVIGNON<br>
        Dépannage informatique<br>
        06.85.40.09.36 - <a href="mailto:contact@dominiquesauvignon.eu">
        contact@dominiquesauvignon.eu</a>
    </header>

    <div id="bloc_annonce">
        <div id="texte_annonce">
      
            <ul class="gauche">
                <li>Vous venez d'acquérir un ordinateur de type PC et vous
                    vous sentez un peu perdu ?</li>
                <li>Votre ordinateur a des soucis de lenteur ou est en panne ?</li>
                <li>Vous souhaitez créer votre site internet ?</li>
                <li>Vous souhaitez numériser le contenu de vos cassettes vidéos ?</li>
            </ul>
            <p class="accroche">Je peux vous aider :)</p>
            <ul class="gauche">
                <li>informaticien diplômé</li>
                <li>expérimenté dans le développement de sites webs</li>
                <li>expérimenté dans le dépannage et l'optimisation de pc</li>
            </ul>
            Pour me joindre : <br>
            gsm : 06.85.40.09.36<br>
            Courriel : <a href='mailto:contact@dominiquesauvignon.eu'>contact@dominiquesauvignon.eu</a>
        </div>
      
    </div>

    <footer>
        Dominique SAUVIGNON<br>
        -------<br>
        Développement web et applicatif & Dépannage informatique<br>
        06.85.40.09.36 - <a href="mailto:contact@dominiquesauvignon.eu">contact@dominiquesauvignon.eu</a>
    </footer>
</body>
</html>