# Bootstrap
/app/bootstrap*

# Symfony directories
/*/cache/*
/*/logs/*
/*/spool/*
/bin/*
/vendor/*
/web/bundles/*
/web/uploads/*

# Configuration files
/app/config/*
/app/logs/*

# Temp files
*.php~

!.gitkeep
.DS_Store
nbproject
