{# src/DS/InternauteBundle/Resources/views/DS/formation.html.twig #}

{% extends "DSInternauteBundle::DS/home2.html.twig" %}

{% block block_nav %}

<div class="display">
<div id="titre" class="titrePro">
        <b>Ma formation : </b><br>
</div>

    <div class=police_pro>
     <!--   Je suis continuellement en train de me former :
        <ul>
            <li>HTML 5 (<img src="logos/HTML5_Logo_512.png" alt="Logo HTML5" width="20">)</li>
            <li>CSS de niveau 3 (<img src="logos/css3-logo.jpg" alt="Logo CSS 3" width="20">)</li>
            <li>Ajax (donc Javascript)</li>
            <li>php5</li>
            <li>CMS...</li>
        </ul> -->
        <br>
	Ma formation de base est la suivante : <br>
        <UL>
            <li><strong>DU Développeur Grands Systèmes</strong> en 2014</li>
            <LI>Formation <strong>V</strong>oix <strong>D</strong>onnées <strong>I</strong>mages, technicien courant faible validée en 2008</LI>
            <LI><b>DUT en Informatique</b> option Génie Informatique obtenu en 2000</LI>
            <LI>BTS en Comptabilité et Gestion obtenu en 1998</LI>
            <LI>Bac. S option SVT obtenu en 1995</LI>
        </UL>
        <br>
        Je suis actuellement en train de me former et perfectionner aux technologies utilisées actuellement : Symfony2, etc... </div>  

</div>
{% endblock %}