{# src/DS/InternauteBundle/Resources/views/Reference/add.html.twig #}

{% extends "DSInternauteBundle::Admin/layout.html.twig" %}

{%  block donnees %}
    {% block body %}
        {{ form_errors(form) }}
        <h2>Ajouter une référence</h2>
            {% include "DSInternauteBundle:Admin/Reference:form.html.twig" %}
    {% endblock %}
{% endblock %}
