{# src/DS/Internaute/Resources/views/Reference/edit.html.twig #}

{% extends "DSInternauteBundle::Admin/layout.html.twig" %}

{% block donnees %}

    {% block ds_internaute_body %}

        <h2>Modifier la référence : {{ reference.id }}</h2>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% include "DSInternauteBundle:Admin/Reference:form.html.twig" %}

        <p>
            <a href="{{ path('ds_admin_references_liste', {'id': reference.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la liste
            </a>
        </p>

    {% endblock %}

{% endblock %}