header{
    background-color: #9d9d9d;
}

nav{
    background-color: #adadad;
}

.flash-notice
{
    background-color: #e78f08;
    font-weight: bold;
}

.btn-lien_nouveau{
    font-weight: bold;
    font-size: large;
    font-family: "Verdana";
}