body{
/*	background-color: 	#180052; */
/*    background-color: #633ebe; */
/*background-color: #5E2750;*/
    background-color:       #CECAC5; 
}

header
{
    text-align:             right;
    color:		    #0000FF;
    font-weight:            bold;
    vertical-align:         top;
    background-color:       #CECAC5; 
}

nav{
    background-color:       #CECAC5; 
    
     /*   border-width:	1px;
    border-style:	solid;
    border-color:	black; */
}


.nom{
    text-align:             right;
    
}

h1{
    font-size:              14pt;
    font-family:            "Verdana";
    margin-bottom:          0pt;
    margin-top:             0pt;
    
}

.coordonnees{
    font-size:                      12pt;
    font-family:                    Verdana;
    color:                          #0000FF;
    margin-top:                     0pt;

}

.accueil
{
    text-align:             left;
    font-weight:            bold;
    font-size:              20pt;
    color:                  #0000FF;
}

.tuile
{
    background-color:               #249BF6;
    border-width:			3px;
    border-style:			solid;
    border-color:			blue;
     
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
           
    text-align:         center;
}

.tuile:hover{
    background-color: #999999;
}

.menu, h2
{
    font-size: 		    18px;
    font-family:            Verdana;
    text-decoration:        none;
    font-weight:            bold;
    color:                  #000000;
    text-align:             center;
/*	vertical-align: 	bottom;
	text-align: 		center;
*/
}

.lienMail
{
    text-decoration:    none;
    font-weight:        bold;
    font-family:        Verdana;
    color:              #0000FF;
    font-size:          12pt;
    clear:              both;
 }
 
 .popup{
    background-color:   #999999;
    overflow:           auto;
    top:                5px;
    height:             700px;
    width:              600px;
 }
 
 .cv{
     font-size:         70pt;
 }
 
 .titrePro{
    font-family:        Verdana;
    font-size:          12pt;
    font-weight:        bold;
    text-decoration:    underline;
    
}

.competLien
{
    text-decoration:    none;
    font-family:        Verdana;
}

#bandeauCookies{
    font-family:        "Verdana";
    font-size:          10pt;
    color:              black;
    background-color:   white;
}

.diplome{
    width: 150px;
} 

.viadeo{
    text-align:         center;
}

.display{
/*    background-color: #2E64FE; */
    background-color:   #AEA79F;

}

.titre{
    text-decoration:    underline;
    font-weight:        bold;
}

footer{
    background-color:   #e5e3e3;
    font-family:        "Verdana";
    font-size:          14pt;
    font-weight:        bold;
    text-align:         center;
    color:              #0000FF;
}

.dipl{
    font-size:          10pt;
    
}

.reco{
    font-size:          12PT;
}