{# src/DS/InternauteBundle/Resources/views/contact.html.twig #}

{% extends "DSInternauteBundle::DS/home2.html.twig" %}

{% block block_nav %}

<div class="display">
<div class="police_pro">
    <div class="titrePro">Comment me contacter ? </div>
    <br>
    Pour me contacter, envoyer un courriel à :&nbsp;
    <a href="mailto:contact@dominiquesauvignon.eu?subject=SiteInternet" class="contactPro" target="_blank">contact@dominiquesauvignon.eu</a><br>
    Mon C.V. est également disponible <a href="{{ path('ds_internaute_cv')}}" target="_blank" class="contactPro" title="monCV">ici</a><br>
    <br>
    Géographiquement, je suis ici :) : <a href="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=11+Rue+d'Auvergne,+Schiltigheim&amp;aq=0&amp;oq=11+rue+d'&amp;sll=48.643455,7.760342&amp;sspn=0.008152,0.019999&amp;ie=UTF8&amp;hq=&amp;hnear=11+Rue+d'Auvergne,+67300+Schiltigheim,+Bas-Rhin,+Alsace&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">Agrandir le plan</a></small><br>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=11+Rue+d'Auvergne,+Schiltigheim&amp;aq=0&amp;oq=11+rue+d'&amp;sll=48.643455,7.760342&amp;sspn=0.008152,0.019999&amp;ie=UTF8&amp;hq=&amp;hnear=11+Rue+d'Auvergne,+67300+Schiltigheim,+Bas-Rhin,+Alsace&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><small>
    
    
    
</div>
</div>

{%endblock %}