{# src/DS/InternauteBundle/Resources/views/DS/cv.html.twig #}

{% block block_body %}
<object data="../docs/CV/DominiqueSAUVIGNON-DeveloppeurInformatique_CV.pdf" type="application/pdf" width="100%" height="95%">
    
</object>
<!--<p>Télécharger : <a href="../docs/CV/DominiqueSAUVIGNON-DeveloppeurInformatique_CV.pdf">Mon CV</a></p>-->

<!--<META HTTP-EQUIV="Refresh" CONTENT="0; URL=../docs/CV/DominiqueSAUVIGNON-DeveloppeurInformatique_CV.pdf">-->

{% endblock %}